@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@
    <section class="section">
        <div class="container">
            <h1>testSignIn</h1>
        </div>
    </section>
